name,team,position,richard,eisenberg,boone
Patrick Mahomes,KC,QB,2,1,2
Josh Allen,BUF,QB,1,2,1
Christian McCaffrey,SF,RB,1,1,1
Bijan Robinson,ATL,RB,2,3,2
Saquon Barkley,PHI,RB,3,2,3
CeeDee Lamb,DAL,WR,1,1,2
Justin Jefferson,MIN,WR,2,2,1
Sam LaPorta,DET,TE,1,2,1
Harrison Butker,KC,K,1,1,2
San Francisco,SF,DEF,1,1,1
